.tester {
    font-size: 15px;
    animation: slideMe 1s ease-in;
}

.tester2 {
    font-size: 15px;
    animation: slideMeOut 1s ease-in;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s linear;
}


@keyframes slideMe {
    0% {
        transform: skewX(53deg) translateX(500px);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes slideMeOut {
    0% {
        transform: skewX(-53deg) translateX(-500px);
    }

    100% {
        transform: skew(0deg);
    }
}

#btnGigithub {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;

}

.hide {
    display: none;
}

.show {
    display: block !important;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

.padT150 {
    padding-top: 45px;
}

.padB150 {
    padding-bottom: 150px;
}

.button {
    position: sticky;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button.cancel-btn:hover {
    background-color: #F3270B;
    box-shadow: 0px 15px 20px rgba(243, 42, 11, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


.button.accept-btn:hover {
    background-color: #0B91F3;
    box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.button.clear-btn:hover {
    background-color: #F3270B;
    box-shadow: 0px 15px 20px #313131;
    color: #fff;
    transform: translateY(-7px);
}

.button.github-btn:hover {
    background-color: #0a0b0d;
    box-shadow: 0px 15px 20px #313131;
    color: #fff;
    transform: translateY(-7px);
}

.button.save-btn:hover {
    background-color: #0a0b0d;
    box-shadow: 0px 15px 20px #313131;
    color: #fff;
    transform: translateY(-7px);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.content {
    width: 100%;
    padding: 20px;
}

.content.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


textarea {
    border-radius: 20px;
    resize: none;
    min-width: 50%;
    font-size: 14px;
    line-height: 16px;
    padding: 16px;
    border: none;
}

textarea:focus {
    outline: none;
    box-shadow: 0 13px 38px 0 rgba(0, 0, 0, 0.4);
}

.separator {
    width: 50%;
    height: 2px;
    background: rgba(0, 0, 0, .1);
    margin: 16px 0;

}